* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  display: flex;
  justify-content: center;
}
body {
  width: 1280px;
}
.header-black-block {
  height: 37px;
  background-color: black;
}
.header-logo-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 141px;
  gap: 340px;
}
.header-logo-bar > img {
  width: 221px;
  height: 73px;
}
.header-logo-bar-link {
  display: flex;
  gap: 14.3px;
}
.header-logo-bar-link a > img {
  width: 36px;
}
.header-logo-bar-search {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header-logo-bar-search > input {
  width: 146.6px;
  height: 21px;
}
.header-logo-bar-search > img {
  width: 20px;
  height: 20px;
}
.header-logo-bar-search > input::placeholder {
  font-family: "Laila";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #8fd8cd;
}
.header-nav-bar > ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 38.5px;
}
.header-nav-bar > ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Laila;
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
  gap: 2px;
}
.header-nav-bar > ul li img {
  width: 8px;
  height: 8px;
}
.content-item {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 547px;
}
.content-item-text-left {
  position: relative;
  width: 407px;
  height: 180px;
  margin-left: 77.3px;
  background: rgba(143, 216, 205, 0.5);
}
.content-item-text-left > img {
  position: absolute;
  bottom: 10px;
  right: 15px;
}
.content-item-text-right {
  position: relative;
  width: 407px;
  height: 180px;
  margin-left: 805px;
  background: rgba(143, 216, 205, 0.5);
}
.content-item-text-right > img {
  position: absolute;
  bottom: 10px;
  right: 15px;
}
.content-item-text-title > img {
  width: 119px;
  height: 25.7px;
  margin: 10.5px 0 10.5px;
}
.content-item-text-body {
  font-family: "Laila";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  line-height: 25px;
  margin: 0 15px 0.5px 26.7px;
}

.content-item-img-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 271.5px;
}
.content-detail {
  display: flex;
  justify-content: space-around;
  height: 311px;

  background: #8fd8cd;
}
.content-detail-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Laila";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.165em;
  width: 340px;
  color: #000000;
}
.content-detail-item > img {
  width: 84.4px;
  height: 85.8px;
  margin-bottom: 25.8px;
}
.content-detail-item > p {
  width: 100%;
}
.footer {
  display: flex;
  align-items: center;
  height: 283px;
  background-color: #000000;

  font-family: "Laila";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 184%;

  letter-spacing: 0.16em;

  color: #fffdfd;
  padding: 49px 70px 65px 55px;
  gap: 100px;
}
.footer-others {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-others > p:nth-child(1) {
  font-family: "Laila";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;

  letter-spacing: 0.26em;

  color: #ffffff;
}
.footer-others > p:nth-child(2) {
  font-family: "Laila";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 184%;
  text-align: center;
  letter-spacing: 0.16em;

  color: #ffffff;

  width: 263px;
}
.footer-others-input {
  display: flex;
  align-items: center;
  background: #fffdfd;
  width: 318px;
  height: 30px;
}
.footer-others-input > input {
  background-color: transparent;
  border: none;
  padding-left: 10.5px;
  flex: 1;
}
.footer-others-input > input:focus {
  outline: none;
}
.footer-others-input > input::placeholder {
  font-size: 12px;
  line-height: 184%;
  /* or 22px */

  letter-spacing: 0.16em;

  color: #8fd8cd;
}
.footer-others-input > img {
  width: 18px;
  height: 18px;
  margin-right: 8.2px;
}
.footer-others-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.6px;
}
.footer-others-agreement-button {
  background: #fffdfd;
  width: 12.41px;
  height: 12.41px;
  border-radius: 5px;
}
.footer-others-agreement p {
  font-weight: 400;
  font-size: 12px;
  line-height: 184%;
  /* or 22px */

  letter-spacing: 0.16em;

  color: #ffffff;
}
